/*--- Basic styles ---*/
html{ overflow-y: scroll !important; }

body{
  font-family: $f-main;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  padding-right: 0 !important;
}

.wrapper{
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

*{
  box-sizing: border-box;
  outline: none !important;
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 10000000;
}

a{
  text-decoration: none;
  &:hover,
  &:focus,
  &:active,
  &:visited{
    text-decoration: none;
    outline: none;
  }
}

.button{
  width: 326px;
  height: 70px;
  border: 3px solid #000000;
  line-height: 64px;
  text-align: center;
  display: block;
  transition: all 0.5s;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.03em;
  font-size: 24px;
  font-family: $f-reg;
  background-color: rgba(0,0,0,0);

  @media(max-width: 360px){
    width: 100%;
  }

  &:hover{
    background-color: #000000;
    color: #ffffff;
  }
}

.block-title {
  text-transform: uppercase;
  color: #000000;
  font-size: 3.3vw;
  font-family: $f-bold;

  @media(max-width: 992px){
    font-size: 5.9vw;
  }

  @media(max-width: 575px){
    font-size: 6.7vw;
  }

  @media(max-width: 440px){
    font-size: 9.3vw;
  }
}

form{
  .form-group{

    .form-control{
      width: 100%;
      height: 100%;
      border-radius: 0;
      border: none;
      box-shadow: none;
      transition: all 0.5s;
    }
  }
}


@mixin bg-img{
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.modal{
  background-color: rgba(0,16,102,0.7) !important;

  .modal-dialog{
    margin: auto;

    .modal-content{
      width: 100%;
      border: none;
      box-shadow: none;
      border-radius: 0;

      .modal-header{
        padding: 0;
        border: none;
        position: relative;

        .close{
          opacity: 1;
          position: absolute;
          transition: all 0.5s;
          outline: none !important;
        }
      }

      .modal-body{
        padding: 0;
        border: none;
      }
    }
  }
}

body.modal-open .modal {
  display: flex !important;
  height: 100%;
}

/*--------- ANIMATION ------------*/




.menu-slider{
  -webkit-animation: slide-menu 1s infinite ease-in-out;
  animation: slide-menu 1s infinite ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes slide-menu {
  0% {
    right: -200px;
  }

  100% {
    right: 0;
  }
}

@keyframes slide-menu {
  0% {
    right: -200px;
  }

  100% {
    right: 0;
  }
}

.menu-slider-out{
  -webkit-animation: slide-menu-out 1s infinite ease-in-out;
  animation: slide-menu-out 1s infinite ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes slide-menu-out {
  0% {
    right: 0;
  }

  100% {
    right: -200px;
  }
}

@keyframes slide-menu-out {
  0% {
    right: 0;
  }

  100% {
    right: -200px;
  }
}
