@font-face {
  font-family: 'Rubik-Regular';
  src: url('../fonts/Rubik-Regular/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubik-Regular/Rubik-Regular.woff') format('woff'),
  url('../fonts/Rubik-Regular/Rubik-Regular.ttf')  format('truetype'),
  url('../fonts/Rubik-Regular/Rubik-Regular.svg#Rubik-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Rubik-Medium';
  src: url('../fonts/Rubik-Medium/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubik-Medium/Rubik-Medium.woff') format('woff'),
  url('../fonts/Rubik-Medium/Rubik-Medium.ttf')  format('truetype'),
  url('../fonts/Rubik-Medium/Rubik-Medium.svg#Rubik-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'PFDinTextCompPro-Light';
  src: url('../fonts/PFDinTextCompPro-Light/PFDinTextCompPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinTextCompPro-Light/PFDinTextCompPro-Light.woff') format('woff'),
  url('../fonts/PFDinTextCompPro-Light/PFDinTextCompPro-Light.ttf')  format('truetype'),
  url('../fonts/PFDinTextCompPro-Light/PFDinTextCompPro-Light.svg#PFDinTextCompPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextCompPro-Regular';
  src: url('../fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.woff') format('woff'),
  url('../fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.ttf')  format('truetype'),
  url('../fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.svg#PFDinTextCompPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextCompPro-Medium';
  src: url('../fonts/PFDinTextCompPro-Medium/PFDinTextCompPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinTextCompPro-Medium/PFDinTextCompPro-Medium.woff') format('woff'),
  url('../fonts/PFDinTextCompPro-Medium/PFDinTextCompPro-Medium.ttf')  format('truetype'),
  url('../fonts/PFDinTextCompPro-Medium/PFDinTextCompPro-Medium.svg#PFDinTextCompPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextCompPro-Bold';
  src: url('../fonts/PFDinTextCompPro-Bold/PFDinTextCompPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinTextCompPro-Bold/PFDinTextCompPro-Bold.woff') format('woff'),
  url('../fonts/PFDinTextCompPro-Bold/PFDinTextCompPro-Bold.ttf')  format('truetype'),
  url('../fonts/PFDinTextCompPro-Bold/PFDinTextCompPro-Bold.svg#PFDinTextCompPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


