
/*--- FONTS ---*/

$f-main: 'Rubik-Regular';
$f-rub-med: 'Rubik-Medium';
$f-reg: 'PFDinTextCompPro-Regular';
$f-light: 'PFDinTextCompPro-Light';
$f-med: 'PFDinTextCompPro-Medium';
$f-bold: 'PFDinTextCompPro-Bold';


/*--- COLORS ---*/

$accent: #001066;