/*--- IMPORT ---*/

@import "fonts";
@import "variables";
@import "basic";
@import "popup";
@import "slick";
@import "slick-teame";

/*--- scroll-menu ---*/

.scroll-menu{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 6.77%;
  background-color: rgba(0,16,102,0.9);
  z-index: 20;

  @media(max-width: 767px){
    padding: 10px 0;
  }

  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
      width: 50px;

      img{
        width: 100%;
        height: auto;
      }
    }

    .mob-menu{
      display: none;

      @media(max-width: 480px){
        display: block;
        width: 30px;
        position: relative;
        transition: all 0.5s;
        height: 18px;
        z-index: 1001;

        div{
          width: 100%;
          height: 3px;
          background-color: #ffffff;
          position: absolute;
        }

        .top{
          top: 0;
          left: 0;
        }

        .center{
          top: 50%;
          margin-top: -1.5px;
          left: 0;
        }

        .bottom{
          bottom: 0;
          left: 0;
        }
      }
    }

    .active-menu{
      height: 32px;
    }

    .mob-contacts{
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #001066;
      z-index: 100;

      .menu-logo{
        position: absolute;
        top: 21px;
        left: 15px;
      }

      .bg-pic{
        position: absolute;
        width: 100%;
        height: auto;
        left: 0;
        bottom: 0;
      }

      .center-conteiner{
        height: 300px;
        width: 235px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -117px;
        color: #ffffff;

        h3{
          text-transform: uppercase;
          margin-bottom: 53px;
          font-size: 64px;
          letter-spacing: 0.03em;
          text-align: center;
          font-family: $f-med;
        }

        .phone-wrapper{
          width: 168px;
          margin: 0 auto 58px;

          a{
            font-size: 24px;
            letter-spacing: 0.03em;
            color: #ffffff;
            font-family: $f-reg;
            line-height: 1;
            display: block;
            margin-bottom: 21px;
          }
        }

        .soc-wrapper{
          width: 168px;
          display: flex;
          justify-content: space-between;
          margin: 0 auto;


          a{
            display: flex;
            width: 72px;
            height: 72px;
            justify-content: space-around;
            align-items: center;
            border: 2px solid #ffffff;

            svg{
              height: 39px;
              width: auto;
            }
          }
        }
      }
    }

    .phone-soc{
      width: 541px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media(max-width: 992px){
        width: 400px;
      }

      @media(max-width: 620px){
        width: 300px;
      }

      @media(max-width: 480px){
        display: none;
      }

      .phone-wrapper{
        display: flex;
        width: 370px;
        justify-content: space-between;
        align-items: center;

        @media(max-width: 992px){
          width: 290px;
        }

        @media(max-width: 620px){
          width: 225px;
        }

        a{
          font-size: 24px;
          letter-spacing: 0.03em;
          color: #ffffff;
          font-family: $f-reg;
          line-height: 34px;
          margin-top: 5px;

          @media(max-width: 992px){
            font-size: 20px;
          }

          @media(max-width: 620px){
            font-size: 16px;
            line-height: 24px;
          }
        }
      }

      .line{
        height: 34px;
        width: 1px;
        background-color: #ffffff;

        @media(max-width: 620px){
          height: 24px;
        }
      }

      .soc-wrapper{
        width: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width: 992px){
          width: 50px;
        }

        @media(max-width: 620px){
          width: 40px;
        }

        a{
          display: block;

          @media(max-width: 620px){
            height: 18px;
            margin-top: -3px;

            svg{
              height: 100%;
              width: auto;
            }
          }
        }
      }
    }
  }
}


/*--- HEADER ---*/

header{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;

  @media(max-width: 767px){
    padding-bottom: 80.25%;
  }

  @media(max-width: 620px){
    padding-bottom: 99.25%;
  }

  @media(max-width: 460px){
    padding-bottom: 120.25%;
  }

  @media(max-width: 360px){
    padding-bottom: 150.25%;
  }

  .top-line{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 32px;
    padding-left: 6.77%;
    padding-right: 6.77%;
    width: 100%;
    z-index: 21;

    @media(max-width: 767px){
      padding-left: 0;
      padding-right: 0;
    }

    .content{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo{
        width: 201px;

        @media(max-width: 992px){
          width: 150px;
        }

        @media(max-width: 620px){
          width: 120px;
        }

        img{
          width: 100%;
          height: auto;
        }
      }

      .mob-menu{
        display: none;

        @media(max-width: 480px){
          display: block;
          width: 30px;
          position: relative;
          transition: all 0.5s;
          height: 18px;
          z-index: 1001;

          div{
            width: 100%;
            height: 3px;
            background-color: #ffffff;
            position: absolute;
          }

          .top{
            top: 0;
            left: 0;
          }

          .center{
            top: 50%;
            margin-top: -1.5px;
            left: 0;
          }

          .bottom{
            bottom: 0;
            left: 0;
          }
        }
      }

      .active-menu{
        height: 32px;
        position: fixed;
        top: 32px;
        right: 15px;
      }

      .mob-contacts{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #001066;
        z-index: 100;

        .menu-logo{
          position: absolute;
          top: 21px;
          left: 15px;
        }

        .bg-pic{
          position: absolute;
          width: 100%;
          height: auto;
          left: 0;
          bottom: 0;
        }

        .center-conteiner{
          height: 300px;
          width: 235px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -150px;
          margin-left: -117px;
          color: #ffffff;

          h3{
            text-transform: uppercase;
            margin-bottom: 53px;
            font-size: 64px;
            letter-spacing: 0.03em;
            text-align: center;
            font-family: $f-med;
          }

          .phone-wrapper{
            width: 168px;
            margin: 0 auto 58px;

            a{
              font-size: 24px;
              letter-spacing: 0.03em;
              color: #ffffff;
              font-family: $f-reg;
              line-height: 1;
              display: block;
              margin-bottom: 21px;
            }
          }

          .soc-wrapper{
            width: 168px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;


            a{
              display: flex;
              width: 72px;
              height: 72px;
              justify-content: space-around;
              align-items: center;
              border: 2px solid #ffffff;

              svg{
                height: 39px;
                width: auto;
              }
            }
          }
        }
      }

      .phone-soc{
        width: 541px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width: 992px){
          width: 400px;
        }

        @media(max-width: 620px){
          width: 300px;
        }

        @media(max-width: 480px){
          display: none;
        }

        .phone-wrapper{
          display: flex;
          width: 370px;
          justify-content: space-between;
          align-items: center;

          @media(max-width: 992px){
            width: 290px;
          }

          @media(max-width: 620px){
            width: 225px;
          }

          a{
            font-size: 24px;
            letter-spacing: 0.03em;
            color: #ffffff;
            font-family: $f-reg;
            line-height: 34px;
            margin-top: 5px;

            @media(max-width: 992px){
              font-size: 20px;
            }

            @media(max-width: 620px){
              font-size: 16px;
              line-height: 24px;
            }
          }
        }

        .line{
          height: 34px;
          width: 1px;
          background-color: #ffffff;

          @media(max-width: 620px){
            height: 24px;
          }
        }

        .soc-wrapper{
          width: 70px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          @media(max-width: 992px){
            width: 50px;
          }

          @media(max-width: 620px){
            width: 40px;
          }

          a{
            display: block;

            @media(max-width: 620px){
              height: 18px;
              margin-top: -3px;

              svg{
                height: 100%;
                width: auto;
              }
            }
          }
        }
      }
    }
  }

  .header-slider{
    /*height: 100vh;
    min-height: 660px;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .container-fluid{
      padding-right: 0;
      padding-left: 0;
      height: 100%;
    }

    .row{
      height: 100%;
    }

    .slick-list{
      height: 100% !important;
    }

    .slider-body{
      height: 100%;
    }

    .slick-track{
      height: 100%;
    }

    .slide{
      width: 100%;
      height: 100%;
      /*height: 100vh;
      min-height: 660px;*/
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      overflow: hidden;

      /*&::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(2, 19, 114, 0.9);
        z-index: 2;
      }*/

      img{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;

        @media(max-width: 767px){
          width: 130%;
        }

        @media(max-width: 620px){
          width: 150%;
        }

        @media(max-width: 460px){
          width: 180%;
        }

        @media(max-width: 360px){
          width: 200%;
        }
      }

      div{
        position: relative;
        z-index: 5;
        color: #ffffff;
        padding-left: 15px;
        padding-right: 15px;

        @media(max-width: 400px){
          padding-top: 40px;
        }
      }

      h1{
        font-size: 96px;
        text-align: center;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        font-family: $f-med;
        margin-bottom: 15px;

        @media(max-width: 1480px){
          font-size: 84px;
        }

        @media(max-width: 1200px){
          font-size: 72px;
        }

        @media(max-width: 992px){
          font-size: 60px;
        }

        @media(max-width: 830px){
          font-size: 48px;
          line-height: 1;
        }

        @media(max-width: 620px){
          font-size: 40px;
        }
      }

      p{
        font-size: 30px;
        text-align: center;
        margin-bottom: 71px;

        @media(max-width: 1480px){
          margin-bottom: 51px;
        }

        @media(max-width: 1200px){
          font-size: 28px;
        }

        @media(max-width: 992px){
          font-size: 26px;
          margin-bottom: 40px;
        }

        @media(max-width: 830px){
          font-size: 22px;
          margin-bottom: 30px;
        }

        @media(max-width: 460px){
          font-size: 18px;
          margin-bottom: 20px;
        }
      }

      .button{
        background-color: rgba(0,0,0,0);
        border-color: #ffffff;
        color: #ffffff;
        margin: 0 auto;

        &:hover{
          background-color: #ffffff;
          color: #000000;
        }
      }
    }

    .slick-dots{
      z-index: 5;
      bottom: 15%;
      z-index: 2;

      @media(max-width: 1200px){
        bottom: 13%;
      }

      @media(max-width: 830px){
        bottom: 7%;
      }

      li{
        width: 10px;
        height: 10px;
        border: 2px solid #ffffff;
        transition: all 0.5s;

        button{
          display: none;
        }
      }

      .slick-active{
        width: 20px;
        background-color: #ffffff;
      }
    }
  }
}

/*--- word-map ---*/

.word-map{
  background-color: #ffffff;
  padding-top: 135px;
  padding-right: 6.77%;
  padding-left: 6.77%;

  @media(max-width: 767px){
    padding-left: 0;
    padding-right: 0;
  }

  @media(max-width: 575px){
    padding-top: 50px;
  }

  .content{
    display: flex;

    @media(max-width: 992px){
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .text{
      width: 40.6%;

      @media(max-width: 992px){
        width: 100%;
        margin-bottom: 40px;
      }

      .block-title{
        margin-bottom: 43px;

        @media(max-width: 767px){
          margin-bottom: 23px;
        }
      }

      p{
        max-width: 483px;
        font-size: 24px;
        margin-bottom: 64px;

        @media(max-width: 1460px){
          font-size: 22px;
        }

        @media(max-width: 1200px){
          font-size: 20px;
        }

        @media(max-width: 767px){
          font-size: 18px;
        }

        @media(max-width: 380px){
          font-size: 16px;
        }
      }

      .items-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 48px;

        .item{
          width: 25%;
          margin-bottom: 20px;

          img{
            margin-bottom: 6px;
            width: 75px;
            height: auto;

            @media(max-width: 440px){
              width: 50px;
            }
          }

          p{
            font-size: 18px;
            margin-bottom: 0;

            @media(max-width: 1370px){
              font-size: 16px;
            }

            @media(max-width: 440px){
              font-size: 14px;
            }

            @media(max-width: 350px){
              font-size: 12px;
            }
          }
        }
      }

      .more-cantris{
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 24px;
        color: #001066;
      }
    }

    .pic{
      width: 59.4%;
      position: relative;

      @media(max-width: 992px){
        width: 100%;
      }

      @media(max-width: 400px){
        display: none;
      }

      img{
        width: 100%;
        height: auto;
      }

      .word-map-static{
        position: relative;
        z-index: 1;
      }

      .animation-map{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 5s;
        z-index: 2;
      }

      .animation-map-active{
        opacity: 1 !important;
      }
    }
  }
}

/*--- range-services ---*/

.range-services{
  padding-top: 207px;
  background-color: #ffffff;
  padding-bottom: 102px;
  padding-left: 6.77%;
  padding-right: 6.77%;
  position: relative;

  @media(max-width: 767px){
    padding-left: 0;
    padding-right: 0;
  }

  @media(max-width: 575px){
    padding-bottom: 35px;
    padding-top: 50px;
  }

  .content{
    background-color: rgba(255,255,255, 0.9);
    z-index: 10;

    .name-button{
      margin-bottom: 50px;
      display: flex;
      justify-content: space-between;

      @media(max-width: 992px){
        flex-wrap: wrap;
      }

      .name{
        width: 33.75%;

        @media(max-width: 1760px){
          width: 35.75%;
        }

        @media(max-width: 1600px){
          width: 38.75%;
        }

        @media(max-width: 992px){
          width: 100%;
        }

        .block-title{
          margin-bottom: 30px;

          @media(max-width: 1460px){
            margin-bottom: 20px;
          }
        }

        p{
          font-size: 24px;

          @media(max-width: 1460px){
            font-size: 22px;
          }

          @media(max-width: 767px){
            font-size: 20px;
          }

          @media(max-width: 440px){
            font-size: 18px;
          }

          @media(max-width: 380px){
            font-size: 16px;
          }
        }
      }

      .button{
        margin-top: 22px;
      }
    }

    .items-wrapper{
      display: flex;
      justify-content: space-between;
      margin-bottom: 83px;

      @media(max-width: 992px){
        flex-wrap: wrap;
        justify-content: space-around;
      }

      @media(max-width: 575px){
        margin-bottom: 35px;
      }

      .items{
        width: 12.5%;

        @media(max-width: 1460px){
          width: 13%;
        }

        @media(max-width: 1200px){
          width: 13.5%;
        }

        @media(max-width: 992px){
          width: 23%;
        }

        @media(max-width: 620px){
          width: 48%;
        }

        @media(max-width: 575px){
          width: 100%;
          display: flex;
          justify-content: flex-start;

        }

        &:last-child{
          hr{
            opacity: 0;
          }

          .mob-line{
            opacity: 0;
          }
        }

        .day{
          display: flex;
          margin-bottom: 25px;
          align-items: center;

          @media(max-width: 575px){
            justify-content: space-around;
            flex-wrap: wrap;
            position: relative;
            width: 37px;
          }

          p{
            font-family: $f-reg;
            text-transform: uppercase;
            font-size: 1.8vw;
            margin-bottom: 0;
            margin-right: 19px;

            @media(max-width: 1200px){
              font-size: 1.9vw;
              margin-right: 10px;
            }

            @media(max-width: 895px){
              font-size: 2.7vw;
            }

            @media(max-width: 575px){
              font-size: 36px;
              font-family: $f-med;
              width: 100%;
              text-align: center;
              margin-right: 0;
            }
          }

          hr{
            border: none;
            height: 2px;
            background: #000000;
            width: 80%;

            @media(max-width: 575px){
              display: none;
            }
          }

          .mob-line{
            display: none;

            @media(max-width: 575px){
              display: block;
              height: 90%;
              width: 3px;
              background-color: #000000;
            }

            @media(max-width: 380px){
              height: 80%;
            }
          }
        }

        .step-wrapper{
          display: flex;

          @media(max-width: 575px){
            width: 60%;
            margin: 0 auto;
          }

          @media(max-width: 380px){
            width: 170px;
          }

          .step{
            width: 100%;

            .mob-pic-wrapper{

              @media(max-width: 575px){
                width: 100%;
                height: 56%;
                overflow: hidden;
                margin-bottom: 12px;
              }

              @media(max-width: 380px){
                height: 100px;
              }

            }

            img{
              width: 100%;
              height: auto;
              margin-bottom: 17px;

            }

            p{
              font-size: 18px;

              @media(max-width: 1460px){
                font-size: 16px;
              }

              @media(max-width: 1200px){
                font-size: 14px;
              }

              @media(max-width: 575px){
                font-size: 18px;
              }

              @media(max-width: 440px){
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    .desc-btn{
      @media(max-width: 575px){
        display: none;
      }
    }

    .mob-btn{
      display: none;

      @media(max-width: 575px){
        display: block;
        margin: 0 auto 55px;
      }
    }
  }

  .start-parallax{
    position: fixed;
    top: 0;
    right: 0;
  }

  .stop-parallax{
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .parallax{
    /*background-image: url("../img/container-pic.png");
    background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-position: center;
    background-size: 50%;
    height: 700px;*/

    img{
      display: block;
      margin: 0 auto;
      width: 67%;
      height: auto;

      @media(max-width: 575px){
        width: 100%;
      }
    }
  }
}

/*--- delivery-methods ---*/

.delivery-methods{
  background-color: #ffffff;
  padding-top: 102px;
  padding-left: 6.77%;
  padding-right: 6.77%;
  overflow: hidden;

  @media(max-width: 767px){
    padding-left: 0;
    padding-right: 0;
  }

  @media(max-width: 575px){
    padding-top: 35px;
  }

  .content{
    overflow: hidden;
  }

  .block-title{
    margin-bottom: 56px;

    @media(max-width: 767px){
      margin-bottom: 36px;
    }

    @media(max-width: 575px){
      margin-bottom: 16px;
    }
  }

  .method{
    width: 100%;
    height: 362px;
    background-color: $accent;
    margin-bottom: 75px;
    display: flex;
    position: relative;
    padding: 59px 0;
    justify-content: flex-end;
    color: #ffffff;
    padding-right: 20.7%;
    transition: all 1s;

    transform: translateX(-110%);

    @media(max-width: 1650px){
      padding-right: 10.7%;
    }

    @media(max-width: 1460px){
      height: 280px;
      padding-top: 30px;
      padding-bottom: 30px;
      margin-bottom: 55px;
    }

    @media(max-width: 1130px){
      padding-right: 5.7%;
    }

    @media(max-width: 1060px){
      height: 240px;
    }

    @media(max-width: 950px){
      height: 70vw;
      padding-right: 0;
      width: 70%;
      justify-content: space-around;
      margin-bottom: 35px;
    }

    @media(max-width: 767px){
      height: 75vw;
      margin-bottom: 25px;
    }

    @media(max-width: 710px){
      width: 80%;
      height: 85vw;
    }

    @media(max-width: 620px){
      justify-content: flex-start;
    }

    @media(max-width: 540px){
      height: 100vw;
      width: 90%;
    }

    @media(max-width: 460px){
      height: 120vw;
      margin-bottom: 17px;
    }

    @media(max-width: 350px){
      height: 130vw;
    }

    &:nth-child(2){
      img{
        width: 806px;

        @media(max-width: 1460px){
          width: 620px;
        }

        @media(max-width: 1060px){
          width: 530px;
        }

        @media(max-width: 950px){
          width: 120%;
        }

        @media(max-width: 710px){
          width: 110%;
        }
      }
    }

    &:nth-child(3){
      img{
        width: 768px;

        @media(max-width: 1460px){
          width: 575px;
        }

        @media(max-width: 1060px){
          width: 495px;
        }

        @media(max-width: 950px){
          width: 120%;
        }

        @media(max-width: 710px){
          width: 110%;
        }
      }
    }

    &:last-child{
      margin-bottom: 0;

      img{
        width: 720px;

        @media(max-width: 1460px){
          width: 550px;
        }

        @media(max-width: 1060px){
          width: 480px;
        }

        @media(max-width: 950px){
          width: 110%;
        }
      }
    }

    img{
      position: absolute;
      left: 0;
      bottom: 0;
      height: auto;
      transform: translateX(-120%);
      transition: all 3s;

    }

    .text{
      width: 251px;
      padding-left: 38px;
      border-left: 3px solid #ffffff;
      padding-top: 10px;
      padding-bottom: 10px;
      opacity: 0;
      transition: all 7s;

      @media(max-width: 1460px){
        width: 200px;
        padding-left: 28px;
      }

      @media(max-width: 950px){
        border-left: 0;
        padding-left: 0;
      }

      @media(max-width: 780px){
        width: 168px;
      }

      @media(max-width: 620px){
        margin-left: 25%;
      }

      h3{
        text-transform: uppercase;
        font-family: $f-med;
        font-size: 120px;
        letter-spacing: -0.03em;
        margin-bottom: 20px;
        line-height: 0.9;

        @media(max-width: 1460px){
          font-size: 100px;
        }

        @media(max-width: 1060px){
          font-size: 80px;
        }

        @media(max-width: 950px){
          font-size: 120px;
        }

        @media(max-width: 780px){
          font-size: 100px;
        }
      }

      p{
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 30px;
        font-family: $f-reg;
        line-height: 0.9;

        @media(max-width: 1460px){
          font-size: 26px;
        }

        @media(max-width: 1060px){
          font-size: 22px;
        }

        @media(max-width: 950px){
          font-size: 30px;
        }

        @media(max-width: 780px){
          font-size: 26px;
        }
      }
    }
  }

  .active-animation-method{
    transform: translateX(0);

    img{
      transform: translateX(0);
    }

    .text{
      opacity: 1;
    }
  }
}

/*--- express-delivery ---*/

.express-delivery{
  background-color: #ffffff;
  padding-top: 187px;
  padding-bottom: 147px;
  padding-left: 6.77%;
  padding-right: 6.77%;

  @media(max-width: 760px){
    padding-left: 0;
    padding-right: 0;
  }

  @media(max-width: 575px){
    padding-top: 92px;
    padding-bottom: 68px;
  }

  .content{

    .name-button{
      margin-bottom: 50px;
      display: flex;
      justify-content: space-between;

      @media(max-width: 992px){
        flex-wrap: wrap;
      }

      .name{
        width: 33.75%;

        @media(max-width: 1760px){
          width: 35.75%;
        }

        @media(max-width: 1600px){
          width: 38.75%;
        }

        @media(max-width: 992px){
          width: 100%;
        }

        .block-title{
          margin-bottom: 30px;

          @media(max-width: 1460px){
            margin-bottom: 20px;
          }
        }

        p{
          font-size: 24px;

          @media(max-width: 1460px){
            font-size: 22px;
          }

          @media(max-width: 767px){
            font-size: 20px;
          }

          @media(max-width: 440px){
            font-size: 18px;
          }
        }
      }

      .button{
        margin-top: 22px;
      }
    }

    .items-wrapper{
      display: flex;

      @media(max-width: 895px){
        justify-content: space-between;
        flex-wrap: wrap;
      }

      .items{
        margin-right: 19px;

        @media(max-width: 895px){
          margin-right: 0;
          width: 48% !important;
        }

        @media(max-width: 575px){
          width: 100% !important;
          display: flex;
          flex-wrap: nowrap;
          justify-content: flex-start;
          padding-bottom: 10px;
        }

        &:nth-child(1){
          width: 39%;

          .day{
            hr{
              width: 80%;

              @media(max-width: 1445px){
                width: 76%;
              }

              @media(max-width: 895px){
                width: 75%;
              }

              @media(max-width: 575px){
                width: 50%;
              }
            }

            .mob-line{
              height: 88%;

              @media(max-width: 575px){
                height: 80%;
              }

              @media(max-width: 460px){
                height: 77%;
              }
            }
          }
        }

        &:nth-child(2){
          width: 24%;

          .day{
            hr{
              width: 57%;

              @media(max-width: 1445px){
                width: 53%;
              }

              @media(max-width: 895px){
                width: 55%;
              }
            }

            .mob-line{
              height: 70%;

              @media(max-width: 575px){
                height: 48%;
              }

              @media(max-width: 490px){
                height: 45%;
              }

              @media(max-width: 440px){
                height: 40%;
              }

              @media(max-width: 380px){
                height: 25%;
              }

              @media(max-width: 360px){
                height: 30%;
              }
            }
          }
        }

        &:nth-child(3){
          width: 24%;

          .day{
            hr{
              width: 67%;

              @media(max-width: 1445px){
                width: 63%;
              }

              @media(max-width: 895px){
                width: 75%;
              }
            }

            .mob-line{
              height: 77%;

              @media(max-width: 575px){
                height: 62%;
              }

              @media(max-width: 480px){
                height: 60%;
              }

              @media(max-width: 440px){
                height: 58%;
              }

              @media(max-width: 390px){
                height: 54%;
              }

              @media(max-width: 380px){
                height: 45%;
              }
            }
          }
        }

        &:last-child{
          margin-right: 0;

          .day{
            hr{
              opacity: 0;
            }

            .mob-line{
              opacity: 0;
            }
          }

        }

        .day{
          display: flex;
          margin-bottom: 25px;
          align-items: center;

          @media(max-width: 1460px){
            margin-bottom: 10px;
          }

          @media(max-width: 767px){
            margin-bottom: 0;
          }

          @media(max-width: 575px){
            width: 10%;
            position: relative;
            align-items: flex-end;
            justify-content: space-around;
          }

          p{
            font-family: $f-reg;
            text-transform: uppercase;
            font-size: 1.8vw;
            margin-bottom: 0;
            margin-right: 19px;

            @media(max-width: 1200px){
              font-size: 1.9vw;
              margin-right: 10px;
            }

            @media(max-width: 895px){
              font-size: 2.7vw;
            }

            @media(max-width: 575px){
              font-size: 36px;
              word-wrap: break-word;
              transform: rotate(90deg);
              position: absolute;
              width: 142px;
              font-family: $f-med;
              top: 43px;
              left: -58px;
            }
          }

          hr{
            border: none;
            height: 2px;
            background: #000000;

            @media(max-width: 575px){
              display: none;
            }
          }

          .mob-line{
            display: none;

            @media(max-width: 575px){
              display: block;
              width: 3px;
              background-color: #000000;
              margin-left: -15px;
            }

            @media(max-width: 500px){
              margin-left: -10px;
            }

            @media(max-width: 440px){
              margin-left: -5px;
            }

            @media(max-width: 390px){
              margin-left: 0;
            }
          }
        }

        .step-wrapper{
          display: flex;

          @media(max-width: 575px){
            flex-wrap: wrap;
            width: 60%;
            margin: 0 auto;
          }

          .step{
            width: 210px;
            margin-right: 32px;

            @media(max-width: 1625px){
              width: 160px;
            }

            @media(max-width: 1300px){
              width: 120px;
              margin-right: 20px;
            }

            @media(max-width: 992px){
              width: 103px;
            }

            @media(max-width: 895px){
              width: 115px;
            }

            @media(max-width: 575px){
              width: 100%;
              margin-right: 0;
              margin-bottom: 50px;
            }

            .mob-pic-wrapper{
              @media(max-width: 575px){
                width: 100%;
                height: 35vw;
                overflow: hidden;
                margin-bottom: 12px;
              }

              @media(max-width: 380px){
                width: 170px;
                height: 100px;
              }
            }

            img{
              width: 100%;
              height: auto;
              margin-bottom: 17px;
            }

            p{
              font-size: 18px;

              @media(max-width: 1300px){
                font-size: 16px;
              }

              @media(max-width: 992px){
                font-size: 14px;
              }

              @media(max-width: 575px){
                font-size: 18px;
              }

              @media(max-width: 380px){
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    .desc-btn{
      @media(max-width: 575px){
        display: none;
      }
    }

    .mob-btn{
      display: none;

      @media(max-width: 575px){
        display: block;
        margin: 0 auto;
      }
    }
  }
}

/*--- disruption ---*/

.disruption{
  background-color: #F7DE29;
  padding-top: 127px;
  padding-bottom: 118px;
  position: relative;

  .top-pic{
    position: absolute;
    top: 0;
    left: 0;
  }

  .bottom-pic{
    position: absolute;
    bottom: 0;
    left: 0;
  }

  h2{
    max-width: 800px;
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    font-family: $f-med;
    margin: 0 auto 35px;

    @media(max-width: 820px){
      font-size: 40px;
    }

    @media(max-width: 660px){
      font-size: 6vw;
    }

    @media(max-width: 440px){
      font-size: 8vw;
    }

    span{
      font-family: $f-bold;
    }
  }

  .button{
    margin: 0 auto;
  }
}


/*--- advantages ---*/

.advantages{
  background-color: #ffffff;
  padding-top: 151px;
  padding-bottom: 107px;
  padding-right: 6.77%;
  padding-left: 6.77%;

  @media(max-width: 767px){
    padding-right: 0;
    padding-left: 0;
  }

  @media(max-width: 575px){
    padding-bottom: 40px;
    padding-top: 80px;
  }

  .content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media(max-width: 992px){
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .item-title{
      width: 37.7%;

      @media(max-width: 992px){
        width: 100%;
      }

      .block-title{
        margin-bottom: 40px;
      }

      .pic-wrapper{

        @media(max-width: 9992px){
          margin-bottom: 30px;
        }

        @media(max-width: 575px){
          display: none;
        }

        img{
          margin-right: 36px;

          @media(max-width: 1199px){
            margin-right: 16px;
          }
        }
      }
    }

    .item-list{
      width: 52%;

      @media(max-width: 992px){
        width: 100%;
      }

      .item{
        width: 100%;
        display: flex;
        margin-bottom: 44px;

        @media(max-width: 440px){
          margin-bottom: 20px;
        }

        .number{
          font-size: 36px;
          font-family: $f-med;
          margin-bottom: 0;
          margin-right: 17px;
        }

        .text{
          h3{
            font-size: 24px;
            margin-bottom: 19px;
            font-family: $f-rub-med;

            @media(max-width: 1199px){
              font-size: 22px;
            }

            @media(max-width: 440px){
              font-size: 16px;
            }
          }

          p{
            font-size: 18px;

            @media(max-width: 1199px){
              font-size: 16px;
            }

            @media(max-width: 440px){
              font-size: 14px;
            }
          }

        }
      }
    }
  }
}

/*--- popular-questions ---*/

.popular-questions{
  padding-top: 107px;
  padding-bottom: 153px;
  padding-left: 6.77%;
  padding-right: 6.77%;
  background-color: #ffffff;

  @media(max-width: 767px){
    padding-top: 53.5px;
    padding-bottom: 75px;
    padding-left: 0;
    padding-right: 0;
  }

  .block-title{
    max-width: 55%;
    margin-bottom: 45px;

    @media(max-width: 992px){
      max-width: 70%;
    }

    @media(max-width: 767px){
      margin-bottom: 30px;
    }

    @media(max-width: 440px){
      max-width: 100%;
    }
  }

  .accordion-wrapper{
    .card{
      margin-bottom: 20px;
      border: none !important;

      @media(max-width: 767px){
        margin-bottom: 10px;
      }

      .card-header{
        background-color: rgba(0,0,0,0);
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0;
        padding-right: 0;
        border-bottom: none !important;

        .card-link{
          font-size: 24px;
          font-family: $f-rub-med;
          color: #000000;
          background-color: #ffffff;
          display: block;
          position: relative;
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 17.5%;
          padding-right: 15px;
          transition: all 0.5s;
          border-top: 3px solid #000000;
          border-left: 3px solid #000000;
          border-right: 3px solid #000000;

          @media(max-width: 992px){
            padding-left: 10.5%;
            font-size: 22px;
          }

          @media(max-width: 575px){
            font-size: 20px;
            padding-left: 50px;
          }

          @media(max-width: 440px){
            font-size: 16px;
          }

          &::before{
            content: '';
            background-image: url("../img/accardeon-open-pic.svg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 23px;
            height: 3px;
            display: inline-block;
            position: absolute;
            left: 11.56%;
            top: 29px;

            @media(max-width: 992px){
              left: 4.56%;
            }

            @media(max-width: 575px){
              left: 15px;
            }
          }
        }

        .collapsed{
          font-size: 24px;
          color: #ffffff;
          background-color: $accent;
          display: block;
          position: relative;
          padding-left: 17.5%;
          padding-right: 15px;
          border-top: 3px solid rgba(0,0,0,0);
          border-left: 3px solid rgba(0,0,0,0);
          border-right: 3px solid rgba(0,0,0,0);

          @media(max-width: 992px){
            padding-left: 10.5%;
            font-size: 22px;
          }

          @media(max-width: 575px){
            font-size: 20px;
            padding-left: 50px;
          }

          @media(max-width: 440px){
            font-size: 18px;
          }

          &::before{
            content: '';
            background-image: url("../img/arrow-accardion.svg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 23px;
            height: 12px;
            display: inline-block;
            position: absolute;
            left: 11.56%;
            top: 23px;

            @media(max-width: 992px){
              left: 4.56%;
            }

            @media(max-width: 575px){
              left: 15px;
            }
          }
        }
      }

      .card-body{
        padding-top: 0;
        padding-left: 26.25%;
        padding-right: 26.25%;
        font-size: 18px;
        border-bottom: 3px solid #000000;
        border-left: 3px solid #000000;
        border-right: 3px solid #000000;

        @media(max-width: 992px){
          padding-left: 15.25%;
          padding-right: 15.25%;
          font-size: 16px;
        }

        @media(max-width: 575px){
          padding-left: 50px;
          padding-right: 15px;
        }

        @media(max-width: 440px){
          font-size: 14px;
        }
      }
    }
  }
}

/*--- reliable-partner ---*/

.reliable-partner{
  background-color: #F7DE29;
  padding-top: 112px;
  padding-bottom: 67px;
  position: relative;
  padding-left: 6.77%;
  padding-right: 6.77%;

  @media(max-width: 767px){
    padding-left: 0;
    padding-right: 0;
  }

  .top-pic{
    position: absolute;
    top: 0;
    left: 0;
  }

  .items-wrapper{
    display: flex;
    justify-content: space-between;

    @media(max-width: 860px){
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .item{
      width: 48%;

      @media(max-width: 860px){
        width: 100%;
      }
    }

    .item-info{
      /*width: 62%;*/

      .block-title{
        width: 100%;
        margin-bottom: 25px;
      }

      p{
        font-size: 24px;
        margin-bottom: 40px;

        @media(max-width: 1199px){
          font-size: 22px;
        }

        @media(max-width: 992px){
          font-size: 20px;
        }

        @media(max-width: 575px){
          font-size: 18px;
        }
      }

      .button{
        margin-bottom: 76px;

        @media(max-width: 860px){
          margin-bottom: 46px;
        }
      }

      .pic-wrapper{

        @media(max-width: 860px){
          margin-bottom: 30px;
        }

        img{
          margin-right: 15px;
        }
      }
    }
  }

  .item-text{
    /*width: 33%;*/

    p{
      margin-bottom: 30px;
      font-size: 18px;

      @media(max-width: 992px){
        font-size: 16px;
      }
    }
  }
}

/*--- reviews ---*/

.reviews{
  background-color: #ffffff;
  /*padding-top: 167px;*/
  padding-bottom: 82px;

  @media(max-width: 575px){
    padding-bottom: 41px;
  }

  .block-title{
    left: 6.77%;
    /*margin-bottom: 66px;*/
    display: inline-block;
    position: absolute;
    top: 167px;
    z-index: 1;

    @media(max-width: 575px){
      top: 65px;
    }
  }

  .content{
    position: relative;
  }

  .controls-wrapper{
    width: 120px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 28%;
    top: 184px;
    z-index: 3;

    @media(max-width: 992px){
      right: 14.2%;
    }

    @media(max-width: 575px){
      right: 15px;
      top: 100px;
    }

    p{
      font-size: 36px;
      text-transform: uppercase;
      font-family: $f-med;
      margin-bottom: 0;
      margin-right: -15px;
      margin-top: 7px;

    }
  }

  .rev-slider{
    /*margin-top: -7.5%;*/
    position: relative;
    z-index: 2;
    /*display: flex;*/
  }

  .slide{
    padding-top: 298px;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;

    @media(max-width: 575px){
      padding-top: 180px;
    }

    .slide-content{
      border: 3px solid #000000;
      position: relative;
      display: flex;
      align-items: flex-start;
      padding: 60px 50px 60px 67px;
      transition: all 0.5s;
      opacity: 0.1;

      @media(max-width: 1199px){
        padding: 40px 30px 40px 45px;
      }

      @media(max-width: 992px){
        flex-wrap: wrap;
        justify-content: space-around;
      }

      @media(max-width: 530px){
        padding: 30px 15px;
      }
    }

    .slide-number{
      position: absolute;
      font-size: 36px;
      text-transform: uppercase;
      font-family: $f-med;
      width: 120px;
      text-align: center;
      top: 191px;
      right: 6.6%;
      transition: all 0.5s;
      opacity: 0;
      margin-bottom: 0;

      @media(max-width: 992px){
        right: -0.5%;
      }

      @media(max-width: 575px){
        top: 107px;
        right: 20px;
      }
    }

    .triangle{
      position: absolute;
      width: 30px;
      height: 30px;
      border-left: 3px solid #000000;
      border-top: 3px solid #000000;
      background-color: #ffffff;
      transform: rotate(56deg) skewX(20deg);
      left: 97px;
      top: -18px;

      @media(max-width: 1199px){
        left: 71px;
      }
    }

    .photo{
      width: 95px;
      height: 95px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 45px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: $accent;

      @media(max-width: 992px){
        margin-right: 0;
        margin-bottom: 20px;
      }

      /*img{
        width: 100%;
        height: auto;
      }*/

      p{
        margin-bottom: 0;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 64px;
        line-height: 1;
        margin-top: 10px;
        font-family: $f-bold;
      }
    }

    .text{
      width: 70%;

      @media(max-width: 992px){
        width: 100%;
      }

      h3{
        font-size: 24px;
        margin-bottom: 18px;

        @media(max-width: 992px){
          font-size: 22px;
          text-align: center;
        }

        @media(max-width: 575px){
          font-size: 16px;
        }
      }

      p{
        font-size: 18px;

        @media(max-width: 575px){
          font-size: 14px;
        }
      }
    }
  }

  .slick-center{

    .controls-wrapper{
      opacity: 1;
    }

    .slide-content{
      opacity: 1;
    }

    /*.slide-number{
      opacity: 1;
    }*/
  }

  .active-number{
    -webkit-animation: active-number-animation 0.1s infinite ease-in-out;
    animation: active-number-animation 0.1s infinite ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

  @-webkit-keyframes active-number-animation {
    0% {
      opacity: 0;
    }

    80%{
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes active-number-animation {
    0% {
      opacity: 0;
    }

    80%{
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

}

/*--- customer-benefits ---*/

.customer-benefits{
  background-color: #ffffff;
  padding-top: 82px;
  padding-bottom: 144px;
  padding-left: 6.77%;
  padding-right: 6.77%;

  @media(max-width: 767px){
    padding-left: 0;
    padding-right: 0;
  }

  @media(max-width: 575px){
    padding-top: 40px;
    padding-bottom: 70px;
  }

  .content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media(max-width: 767px){
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .block-title{
      width: 38.75%;

      @media(max-width: 767px){
        width: 100%;
        margin-bottom: 35px;
      }
    }

    .items-wrapper{
      width: 51.25%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media(max-width: 1340px){
        width: 55.25%;
      }

      @media(max-width: 767px){
        width: 100%;
      }

      .item{
        width: 48%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;

        @media(max-width: 480px){
          width: 100%;
        }

        svg{
          width: 40%;
          height: auto;

          @media(max-width: 1340px){
            width: 35%;
          }

          @media(max-width: 992px){
            width: 30%;
          }

          @media(max-width: 767px){
            width: 40%;
          }

          @media(max-width: 575px){
            width: 30%;
          }
        }

        p{
          font-size: 18px;
          margin-bottom: 0;
          width: 55%;

          @media(max-width: 1480px){
            font-size: 16px;
          }

          @media(max-width: 1340px){
            width: 60%;
          }

          @media(max-width: 1200px){
            font-size: 14px;
          }

          @media(max-width: 992px){
            width: 65%;
            font-size: 12px;
          }

          @media(max-width: 767px){
            width: 55%;
            font-size: 16px;
          }

          @media(max-width: 575px){
            font-size: 14px;
            width: 65%;
          }

          @media(max-width: 480px){
            font-size: 18px;
          }

          @media(max-width: 380px){
            font-size: 16px;
          }
        }
      }
    }
  }
}

/*--- contact-form ---*/

.contact-form{
  /*background-color: $accent;*/
  padding-top: 103px;
  padding-bottom: 173px;
  background-image: url("../img/contact-form-bg.jpg");
  @include bg-img;
  position: relative;
  padding-left: 6.77%;
  padding-right: 6.77%;
  color: #ffffff;

  @media(max-width: 767px){
    padding-left: 0;
    padding-right: 0;
  }

  @media(max-width: 575px){
    background-image: none;
    background-color: $accent;
    padding-bottom: 0;
    padding-top: 65px;
  }

  .pic{
    display: none;
    z-index: 1;

    @media(max-width: 575px){
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .content{
    position: relative;
    z-index: 2;
  }

  .block-title{
    width: 42.5%;
    margin-bottom: 20px;
    color: #ffffff;

    @media(max-width: 992px){
      width: 100%;
    }
  }

  p{
    font-size: 24px;
    margin-bottom: 67px;

    @media(max-width: 575px){
      font-size: 16px;
      margin-bottom: 45px;
    }
  }

  form{
    width: 1040px;
    margin-left: 8.75%;

    @media(max-width: 1270px){
      margin-left: 0;
      width: 100%;
    }

    .button{
      border-color: #ffffff;
      color: #ffffff;
      cursor: pointer;

      @media(max-width: 575px){
        margin: 0 auto;
      }

      &:hover{
        background-color: #ffffff;
        color: $accent;
      }
    }

    .inputs-wrapper{
      display: flex;
      justify-content: space-between;
      margin-bottom: 85px;

      @media(max-width: 575px){
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 55px;
      }

      .inputs{
        width: 400px;

        @media(max-width: 1270px){
          width: 40%;
        }

        @media(max-width: 992px){
          width: 45%;
        }

        @media(max-width: 575px){
          width: 100%;
        }

        .form-group{
          position: relative;
          height: 80px;
          background-color: rgba(0,0,0,0) !important;

          @media(max-width: 992px){
            height: 60px;
          }

          &:last-child{
            margin-bottom: 0;

            @media(max-width: 575px){
              margin-bottom: 20px;
            }
          }

          label{
            position: absolute;
            text-transform: uppercase;
            font-size: 36px;
            font-family: $f-med;
            left: 0;
            top: 23px;
            transition: all 0.5s;

            @media(max-width: 992px){
              font-size: 30px;
            }
          }

          .form-control{
            background-color: rgba(0,0,0,0);
            border-bottom: 3px solid #ffffff;
            color: #ffffff;
            text-transform: uppercase;
            font-size: 36px;
            font-family: $f-med;
            padding-left: 0;

            @media(max-width: 992px){
              font-size: 30px;
            }

          }

          .active-label{
            font-size: 24px;
            opacity: 0.5;
            top: -5px;

            @media(max-width: 992px){
              font-size: 20px;
            }
          }
        }
      }

      .textarea-group{
        width: 567px;
        position: relative;
        margin-bottom: 0 !important;
        background-color: rgba(0,0,0,0);

        @media(max-width: 1270px){
          width: 50%;
        }

        @media(max-width: 575px){
          width: 100%;
          height: 320px;
        }

        label{
          position: absolute;
          text-transform: uppercase;
          font-size: 36px;
          font-family: $f-med;
          left: 25px;
          top: 34px;
          transition: all 0.5s;

          @media(max-width: 992px){
            font-size: 30px;
          }
        }

        textarea{
          width: 100%;
          height: 100%;
          resize: none;
          border: 3px solid #ffffff;
          background-color: rgba(0,0,0,0);
          color: #ffffff;
          padding: 34px 5px 5px 25px;
          text-transform: uppercase;
          font-size: 36px;
          font-family: $f-med;

          @media(max-width: 992px){
            font-size: 30px;
          }
        }

        .active-label{
          font-size: 24px;
          opacity: 0.5;
          top: 10px;

          @media(max-width: 992px){
            font-size: 20px;
          }
        }
      }
    }
  }
}

/*--- contacts ---*/

.contacts{
  background-color: #000000;
  padding-left: 6.77%;

  @media(max-width: 767px){
    padding-left: 0;
  }

  .content{
    display: flex;

    @media(max-width: 767px){
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .contacts-wrapper{
      width: 50%;
      padding-top: 74px;
      padding-bottom: 86px;
      color: #ffffff;
      padding-left: 15px;

      @media(max-width: 1120px){
        width: 40%;
      }

      @media(max-width: 767px){
        width: 100%;
        padding-right: 15px;
      }

      .logo-contacts{
        margin-bottom: 73px;

        @media(max-width: 767px){
          display: none;
        }
      }

      .all-info{
        width: 660px;
        display: flex;
        justify-content: space-between;

        @media(max-width: 1480px){
          width: 560px;
        }

        @media(max-width: 1240px){
          width: 500px;
        }

        @media(max-width: 1120px){
          flex-wrap: wrap;
          width: 266px;
        }

        @media(max-width: 767px){
          margin: 0 auto;
          width: 100%;
        }

        @media(max-width: 540px){
          width: 266px;
        }

        .place-time{
          width: 320px;
          padding-top: 22px;

          @media(max-width: 1480px){
            width: 293px;
          }

          @media(max-width: 1240px){
            width: 266px;
          }

          @media(max-width: 1120px){
            width: 100%;
          }

          @media(max-width: 767px){
            width: 266px;
          }

          @media(max-width: 540px){
            width: 100%;
          }

          p{
            font-size: 24px;
            margin-bottom: 25px;

            @media(max-width: 1480px){
              font-size: 22px;
            }

            @media(max-width: 1240px){
              font-size: 20px;
            }

            &:nth-child(2){
              font-size: 18px;

              @media(max-width: 1240px){
                font-size: 16px;
              }
            }
          }
        }

        .line{
          /*height: 100%;*/
          width: 3px;
          background-color: #ffffff;

          @media(max-width: 1120px){
            display: none;
          }

          @media(max-width: 767px){
            display: block;
          }

          @media(max-width: 540px) {
            display: none;
          }
        }

        .phons-mail{
          width: 230px;
          padding-top: 22px;

          @media(max-width: 1240px){
            width: 194px;
          }

          @media(max-width: 1120px){
            width: 100%;
          }

          @media(max-width: 767px){
            width: 194px;
          }

          @media(max-width: 540px){
            width: 100%;
          }

          a{
            display: block;
            color: #ffffff;
          }

          .phons{
            margin-bottom: 25px;
            a{
              font-size: 24px;

              @media(max-width: 1480px){
                font-size: 22px;
              }

              @media(max-width: 1240px){
                font-size: 20px;
              }
            }
          }

          .mail{
            a{
              font-size: 18px;

              @media(max-width: 1240px){
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    .map{
      width: 50%;
      height: 457px;

      @media(max-width: 1120px){
        height: 567px;
        width:60%;
      }

      @media(max-width: 767px){
        width: 100%;
        height: 300px;
      }

    }
  }
}

/*--- footer ---*/

footer{
  background-color: #151515;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #ffffff;
  font-size: 16px;
  padding-left: 6.77%;
  padding-right: 6.77%;

  .content{
    display: flex;
    justify-content: space-between;

    p{
      margin-bottom: 0;
    }
  }
}

/*--- cantrys-modal ---*/

.cantrys-modal{

  .modal-dialog{
    max-width: 86.5%;
    width: 86.5%;
    height: 80vh;
    overflow: hidden;

    @media(max-width: 767px){
      height: auto;
    }

    .modal-content{
      height: 100%;
      background-color: rgba(0,0,0,0);

      .modal-header{
        padding-top: 70px;
        padding-bottom: 30px;

        .close{
          top: 17px;
          right: 17px;
          width: 60px;
          height: 60px;
          border: 1px solid #ffffff;
          display: flex;
          align-items: center;
          justify-content: space-around;
          padding: 0;

          @media(max-width: 767px){
            width: 32px;
            height: 32px;
            top: 65px;
            right: 50%;
            margin-right: -16px;
          }

          svg{
            width: 90%;
            height: auto;
          }
        }
      }

      .modal-body{
        background-color: #ffffff;
        padding-top: 83px;
        padding-bottom: 75px;
        padding-left: 7%;
        padding-right: 7%;
        display: flex;
        justify-content: space-between;

        @media(max-width: 767px){
          flex-wrap: wrap;
          justify-content: space-around;
          padding-top: 30px;
        }


        .alphabet{
          width: 223px;
          display: flex;
          flex-wrap: wrap;

          @media(max-width: 767px){
            width: 100%;
            margin-bottom: 35px;
            justify-content: space-around;
          }

          a{
            text-transform: uppercase;
            color: #000000;
            font-size: 48px;
            font-family: $f-med;
            margin-right: 10px;
            line-height: 0.8;
            transition: all 0.5s;

            @media(max-width: 1200px){
              font-size: 40px;
            }

            @media(max-width: 767px){
              font-size: 42px;
              font-family: $f-bold;
              line-height: 1;
              text-align: center;
              display: inline-block;
            }

            @media(max-width: 380px){
              font-size: 28px;
            }
          }

          .active-litera{
            color: $accent;
          }
        }

        .cantry-list{
          height: 400px;
          width: 70%;
          overflow-y: scroll;

          @media(max-width: 1200px){
            width: 60%;
            height: 350px;
          }

          @media(max-width: 767px){
            width: 100%;
          }

          .name{
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media(max-width: 767px){
              display: none;
            }

            p{
              color: #000000;
              text-transform: uppercase;
              font-size: 48px;
              font-family: $f-med;
              margin-right: 24px;
              line-height: 0.8px;
              margin-bottom: 0;
            }

            hr{
              border: none;
              height: 3px;
              width: 90%;
              background: #000000;
            }
          }

          .litera-list{
            padding-top: 20px;
            padding-bottom: 50px;

            p{
              color: #000000;
              font-size: 18px;
              margin-bottom: 10px;

              @media(max-width: 575px){
                font-size: 16px;
                text-align: center;
              }
            }
          }

          .colums{
            column-count: 2;

            @media(max-width: 575px){
              column-count: 1;
            }
          }
        }
      }
    }
  }
}

/*--- calc-page ---*/

.calc-page{
  header{
    background-color: $accent;
    padding-bottom: 0;
  }

  .form-calculator{
    background-color: $accent;
    padding-top: 199px;
    padding-bottom: 121px;
    color: #ffffff;
    padding-left: 6.77%;
    padding-right: 6.77%;

    @media(max-width: 767px){
      padding-right: 0;
      padding-left: 0;
    }

    .block-title{
      color: #ffffff;
      margin-bottom: 30px;
    }

    form{
      width: 800px;

      @media(max-width: 900px){
        width: 100%;
      }

      .button{
        border-color: #ffffff;
        color: #ffffff;
        cursor: pointer;

        &:hover{
          background-color: #ffffff;
          color: $accent;
        }
      }

      select{
        width: 326px;
        background-color: rgba(0,0,0,0) !important;
        height: 80px;
        border: none;
        border-bottom: 3px solid #ffffff;
        font-size: 36px;
        font-family: $f-med;
        text-transform: uppercase;
        color: #ffffff;

        @media(max-width: 992px){
          height: 60px;
        }

        @media(max-width: 380px){
          width: 100%;
        }

        option{
          background-color: $accent;
        }

      }

      .form-group{
        position: relative;
        width: 326px;
        height: 80px;
        background-color: rgba(0,0,0,0) !important;

        @media(max-width: 992px){
          height: 60px;
        }

        @media(max-width: 380px){
          width: 100%;
        }

        label{
          position: absolute;
          text-transform: uppercase;
          font-size: 36px;
          font-family: $f-med;
          left: 0;
          top: 23px;
          transition: all 0.5s;

          @media(max-width: 992px){
            font-size: 30px;
          }
        }

        .form-control{
          background-color: rgba(0,0,0,0);
          border-bottom: 3px solid #ffffff;
          color: #ffffff;
          text-transform: uppercase;
          font-size: 36px;
          font-family: $f-med;
          padding-left: 0;

          @media(max-width: 992px){
            font-size: 30px;
          }

        }

        .active-label{
          font-size: 24px;
          opacity: 0.5;
          top: -5px;

          @media(max-width: 992px){
            font-size: 20px;
          }
        }
      }

      .textarea-group{
        width: 633px;
        height: 200px;
        margin-bottom: 40px;
        position: relative;
        background-color: rgba(0,0,0,0);

        @media(max-width: 670px){
          width: 100%;
        }

        label{
          position: absolute;
          text-transform: uppercase;
          font-size: 36px;
          font-family: $f-med;
          left: 25px;
          top: 34px;
          transition: all 0.5s;

          @media(max-width: 992px){
            font-size: 30px;
          }
        }

        textarea{
          width: 100%;
          height: 100%;
          resize: none;
          border: 3px solid #ffffff;
          background-color: rgba(0,0,0,0);
          color: #ffffff;
          padding: 34px 5px 5px 25px;
          text-transform: uppercase;
          font-size: 36px;
          font-family: $f-med;

          @media(max-width: 992px){
            font-size: 30px;
          }
        }

        .active-label{
          font-size: 24px;
          opacity: 0.5;
          top: 10px;

          @media(max-width: 992px){
            font-size: 20px;
          }
        }
      }

      p{
        opacity: 0.5;
        font-size: 16px;
        font-family: $f-main;
        margin-bottom: 55px;
      }
    }
  }
}

/*--- thx-page ---*/

.thx-page{
  header{
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #021372;
    mix-blend-mode: hard-light;
    opacity: 0.9;

    .header-content{
      color: #fff3cd;

      h2{
        font-size: 96px;
        text-align: center;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        font-family: $f-med;
        margin-bottom: 25px;

        @media(max-width: 1460px){
          font-size: 84px;
        }

        @media(max-width: 1200px){
          font-size: 72px;
        }

        @media(max-width: 992px){
          font-size: 60px;
        }

        @media(max-width: 767px){
          font-size: 48px;
        }
      }

      p{
        font-size: 30px;
        max-width: 434px;
        margin: 0 auto 62px;
        text-align: center;

        @media(max-width: 992px){
          font-size: 28px;
        }

        @media(max-width: 767px){
          font-size: 26px;
          margin-bottom: 31px;
        }
      }

      .button{
        color: #ffffff;
        border-color: #ffffff;
        margin: 0 auto;

        &:hover{
          color: #000000;
          background-color: #ffffff;
        }
      }
    }
  }
}


